/* @import url('https://fonts.cdnfonts.com/css/satoshi'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Satoshi', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.container {
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
a,
p {
    color: #000;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    padding: 16px 54px;
    color: #fff;
    border-radius: 60px;
    background-color: #000;
    border: 1px solid rgba(0, 0, 0, 0.10);
    font-weight: 500;
    cursor: pointer;
}
.btn:hover{
    color: #000;
    background-color: #FFF;
}
.title{
    margin: 70px 0 55px;
    text-align: center;
    font-family: Integral CF;
    font-size: 48px;
    font-weight: 700;
}
.background-img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}