/*? SING-IN section */
.sing-in {
  width: 100%;
  height: 40px;
  background-color:var(--dark-color);
  position: relative;
}

.sing-in__title {
  color: var(--light-color);
  font-size: 14px;
}

.sing-in__link {
  color: var(--light-color);
  font-weight: 500;
  text-decoration: underline;
}

.sing-in__icon {
  position: absolute;
  right: 5%;
}

/* .sing-in__icon__link {} */

/*? NAVBAR section */

.navbar {
  gap: 40px;
  margin: 20px auto;
}

.navbar__logo {
  color: var(--dark-color);
  font-family: Integral CF;
  font-size: 32px;
}

.navbar__tool__items {
  gap: 15px;
}

.navbar__tool__link {
  gap: 6px;
}
.navbar__tool__link:hover{
  color: var(--hover-color);
  transition: all 0.4s ease;
}
.navbar__form {
  padding: 12px 16px;
  gap: 12px;
  flex: 1 0 0;
  border-radius: 62px;
  background:var(--form-color)
}

/* .navbar__form__icon {} */

.navbar__form__input {
  width: 100%;
  color:var(--input-color);
  border: none;
  outline: none;
}

.navbar__form__input::placeholder {
  background-color: var(--form-color);
}

.navbar__icon {
  gap: 15px;
}

/* ? Header section */
.header {
  background-image: url("../images/Rectangle 2.png");
  background-color: var(--header-color);
  position: relative;
}

.header__star-lg {
  position: absolute;
  top: 85px;
  right: 5%;
}

.header__star-sm {
  position: absolute;
  top: 300px;
  right: 42%;
}

.header__title {
  padding-top: 100px;
  margin-left: 5%;
  width: 41%;
}

.header__title-main {
  color: var(--dark-color);
  font-family: Integral CF;
  font-size: 64px;
  line-height: 64px;
}

.header__title-explain {
  margin: 30px auto;
  color: var(--text-color);
}

/* .header__title-btn {} */

.header__contact {
  width: 47%;
  padding: 50px 0 115px 5%;
  justify-content: space-between;
}

.header__contact-amount {
  font-size: 40px;
  font-weight: 700;
}

.header__confer {
  height: 70px;
  width: 1px;
  background-color: var(--intermission-color);
}

/* .header__contact-title {} */

/*? Brand section */
.brand {
  padding: 40px 5%;
  background-color: var(--dark-color);
  justify-content: space-between;
}

/*? Main section  */
/* .main__boxs__title {} */

.main__boxs__container {
  gap: 20px;
}

.main__box-img-container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 295px;
}

.main__box-img {
  border-radius: 10px;
  width: 46dvh;
  height: 46dvh;
}

.main__box__produce-value {
  justify-content: space-between;
}

.main__boxs__produce-name {
  font-size: 20px;
  font-weight: 700;
  margin: 15px auto 10px;
}

.main__box__produce-value {
  justify-content: flex-start;
  align-items: center;
  gap: 7px;
  margin-bottom: 12px;
}

.main__value-number {
  font-size: 14px;
}

.main__value-price-container {
  justify-content: start;
}

.main__value-price {
  font-size: 24px;
  font-weight: 700;
}

.main__value-price-eks {
  color: var(--input-color);
  font-size: 24px;
  margin: 0 25px 0 10px;
  text-decoration: line-through;
}

.main__value-price-percent {
  color: var(--heed-color);
  font-size: 12px;
  font-weight: 500;
  border-radius: 62px;
  background: var(--lightheed-color);
  padding: 6px 14px;
}

.main__btn {
  color:  var(--dark-color)  ;
  background-color:  var(--light-color);
  border: 1px solid var(--intermission-color);
  margin: 35px auto 80px;
}

.main__btn:hover {
  color:  var(--light-color);
  background-color: var(--dark-color)  ;
}

.main > hr {
  background-color: var(--intermission-color);
}

/* ? Activite section */
.activite {
  border-radius: 40px;
  background-color: var(--form-color);
}

.activite__title {
  padding-top: 60px;
  margin-top: 0;
}

.activite__boxs {
  flex-wrap: wrap;
  gap: 20px;
}

.activite__box {
  height: 300px;
  border-radius: 40px;
}

.activite__box-title {
  font-weight: 700;
  font-size: 36px;
  margin: 25px 0 0 35px;
}

.activite__box:nth-child(1) {
  width: 354px;
  background-image: url(../images/image\ 11.png);
}

.activite__box:nth-child(2) {
  width: 684px;
  background-image: url(../images/image\ 13.png);
}

.activite__box:nth-child(3) {
  width: 684px;
  background-image: url(../images/image\ 12.png);
  margin-bottom: 70px;
}

.activite__box:nth-child(4) {
  width: 354px;
  background-image: url(../images/image\ 14.png);
  margin-bottom: 70px;
}

/* ? Client comment */

/* .client {} */

.client__title-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 50px 0 55px;
}

.client__title {
  margin: 0;
}

.client__boxs {
  display: flex;
  height: 290px;
  gap: 20px;
}

.slider-container {
  overflow: auto;
}
/* .slide {} */

.client__box {
  width: 400px;
  height: 240px;
  border-radius: 20px;
  border: 1px solid var(--intermission-color);
  padding: 28px 32px;
}

.client__box__name {
  display: flex;
  align-items: center;
  margin: 20px auto 15px;

  > p {
    font-weight: 700;
    font-size: 20px;
  }
}

.client__box__comment {
  color: var(--text-color);
}

/* ? Offer section  */

.offer {
  margin-top: 30px;
  padding: 30px 5% 30px 5%;
  background-color: var(--dark-color);
  border-radius: 20px;
  justify-content: space-between;
}

.offer__title {
  width: 50%;
  font-family: Integral CF;
  font-size: 40px;
  font-weight: 700;
  color: var(--light-color);
}
.offer__form {
  background-color:var(--light-color);
  justify-content: start;
  gap: 15px;
}
.offer__form__input {
  outline: none;
  border:none;
}
.offer__form__input::placeholder{
  color: var(-input-color);
  margin-left: 40px;
}
.offer__form__btn {
  margin-top:13px;
}
.offer__form__btn:hover{
  background-color:var(--hover-color);
  color: var(--light-color);
}
/* ? Feature section  */
.feature{
  justify-content: space-between;
  align-items: end;
  padding: 50px 0;
}
.feature__shop{
  width: 25%;
}
.feature__shop>p:nth-child(2){
  color: var(--text-color);
  margin: 25px 0 35px ;
}
.feature__shop__sosialm{
  display: flex;
  gap: 20px;
  >i{
    font-size: 30px;
  }
}
.feature__title{
  flex-direction: column;
  align-items: start;
  gap: 10px;
  >li>a{
    color: var(--text-color);
  }
  >li:nth-child(1){
    margin-bottom: 25px;
    >a{
      font-weight: 500;
      color:var(--dark-color);
    }
  }
}
/* ? Footer section  */
.footer{
  margin: 25px auto 60px;
  justify-content: space-between;
}